.project-container {
  display: flex;
  align-items: flex-start;
}

.timeline {
  display: flex;
  position: sticky;
  top: 9.5rem;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
  height: fit-content;
  height: 100vh;
  
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #4b5563;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #4b5563;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #d2042d;
  scale: 1.4;
}

.project-section img {
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

