html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: "futura", sans-serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.layout-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2,
h3 {
  color: #d2042d;
}

.project-github-link {
  margin-top: 0.75rem;
}

.github-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.github-icon:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  li {
    font-size: 1.6rem;
  }
}
