.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 10rem);
}

.intro-text {
    max-width: 42ch;
}

.intro-text h2 {
    margin: 0 0 10px 0;
    font-size: 2rem;
}

.intro-text p {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 500;
}

.intro-picture {
    display: flex;
    justify-content: end;
}

.intro-picture img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.intro-header {
    color: 	#D2042D;
}

/* For mobile screens */
@media (max-width: 800px) {
    .intro-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .intro-text {
        max-width: 100%;
    }

    .intro-text p {
        font-size: 2.5rem;
    }

    .intro-picture {
        margin: 0 auto;
    }

    .intro-picture img {
        max-width: 300px;
    }
}