.layout-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
}

/* layout.css */
.skip-main {
  position: absolute;
  top: 0;
  left: 0;
  background: #d2042d;
  color: white;
  padding: 1rem 2rem;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.skip-main:focus {
  transform: translateY(0);
  top: 0;
}