.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding-right: 5px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo h1 {
  margin-right: 10px;
}

.logo p {
  margin: 0;
  text-align: center;
}

.logo h1:hover {
  scale: 1.05;
  transition: scale 0.2s ease in-out;
  text-decoration: underline;
  text-decoration-color: #d2042d;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li button {
  background: none;
  border: none;
  font: inherit;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.menu ul li button:hover {
  color: #d2042d;
  text-decoration: underline;
}

.hamburger {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    border-top: 1px solid #ddd;
  }

  .menu.open {
    max-height: 500px;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu ul li {
    margin: 16px 0;
  }

  .logo > h1 {
    font-size: 2rem;
  }

  .nav-title {
    display: none;
  }
}
