.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.projects-container h2 {
  margin-bottom: 40px;
}

.project {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project-content {
  flex: 1;
}

.project-content img {
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-text {
  flex: 1;
}

span {
  color: #d2042d;
}

span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-text p {
  line-height: 1.6;
}

.project-links {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.project-link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-link:hover {
  scale: 1.1;
}

.link-logos {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.read-more-link {
  color: #0056b3;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.read-more-link:hover {
  color: #003366;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }

  .project:nth-child(even) {
    flex-direction: column;
  }
}
